
.header {
    padding: 46px 0 56px 0;
}

.header__row {
    display: flex;
    column-gap: 30px ;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.header__logo span {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header__nav ul {
    display: flex;
    column-gap: 65px;
    align-items: center;
}

.header__nav a {
    color: var(--textColor);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.01em;
}

.header__nav-btn, a.header__nav-btn {
    padding: 13px 22px 17px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.03em;

    background-color: black;
    border-radius: 7px;
    width: 134px;
    height: 62px;
}